.pricingM-sub {
    font-family: Space Grotesk;
    font-size: 25px;
    font-weight: 500;
    line-height: 40px;
    border: solid 1px rgba(106, 106, 106, 0.5);
}

.pricingM-sub2 {
    font-family: Space Grotesk;
    font-size: 40px;
    font-weight: 500;
    line-height: 64px;
    text-align: center;
    color: #060336
}

.pricingM-cards-main {
    display: flex;
}

.pricingM-sub-txt {
    font-family: Space Grotesk;
    font-size: 20px;
    font-weight: 400;
    line-height: 25.52px;
    text-align: left;
    color: #6A6A6A;
}
.pricingM-card-right{
    border-style:solid;
    border-radius: 10px;
    border-width: 1px;
    border-color: rgba(106, 106, 106,0.5);
    box-shadow: 0 4px 4px 0px rgba(0, 0, 0, 0.25);

}
.pricingM-btn2{
    border: solid 1px var(--theme);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color:var(--theme)
}
.pricingM-right-box{
    width: 540px;
height: 359px;
border-width: 1px 1px 1px 1px;
border-color:rgba(0,0,0,0.5);
border-style: solid;
box-shadow: 0 4px 4px 0px rgba(0, 0, 0, 0.25);
}