.custom-shadow {
    box-shadow: 0 4px 6px -4px rgba(181, 101, 118, 100);
}

.custom-box1{
    width: 500px;
    height: 560px;
}

.custom-box2{
    width: 500px;
    height: 320px;
}

.text-box{
    text-align: justify;
}