@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
body{
  background-color: #F7F6FF;
  ;
  font-family: "Plus Jakarta Sans", sans-serif;
}
:root{
  --theme:#4F45EB;
  --bgc:#F7F6FF;
}
.btn{
  background-color: var(--theme);
  color:var(--bgc);
  border-radius:6px;
  display: flex;
  justify-content: center; 
  justify-items: center;
  align-items: center;
}
.radius{
  border-radius: 6px;
}
.color{
  color: var(--theme);
}
.active-color{
  color: var(--theme);
}
.textsize{
  font-size:16px;
}
.heading{
  font-size: 48px;
  font-weight: 700;
  line-height: 59.52px;
  text-align: center;
}
.cursor{
  cursor: pointer;
}